* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Media Queries */
/*  Colores primarios */
/*  Fuentes  */
/* Media Queries */
header img {
  filter: invert(100%) sepia(13%) saturate(2141%) hue-rotate(299deg) brightness(103%) contrast(91%); }

header {
  height: 100vh; }

.btn-close {
  filter: invert(100%) sepia(13%) saturate(2141%) hue-rotate(299deg) brightness(103%) contrast(91%);
  margin-left: 90%;
  margin-top: 0% !important; }

div.container-fluid {
  margin-inline: 10%; }

main.contenedor {
  position: absolute; }

h1.titulo-nike {
  font-family: "Montserrat", sans-serif;
  font-size: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #C5BAAA;
  opacity: 90%; }

div.calzado-portada {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
  transform: rotate(-50deg); }

.calzado-portada img {
  width: 700px;
  height: 700px; }

/*  Responsive */
@media (min-width: 320px) {
  h1.titulo-nike {
    font-size: 150px; }
  .calzado-portada img {
    width: 300px;
    height: 300px; }
  div.calzado-portada {
    top: 30%;
    left: 10%; } }

@media (min-width: 480px) {
  h1.titulo-nike {
    font-size: 200px; }
  .calzado-portada img {
    width: 400px;
    height: 400px; }
  div.calzado-portada {
    top: 30%;
    left: 10%; } }

@media (min-width: 650px) {
  h1.titulo-nike {
    font-size: 250px; }
  .calzado-portada img {
    width: 500px;
    height: 500px; }
  div.calzado-portada {
    top: 20%;
    left: 10%; } }

@media (min-width: 768px) {
  h1.titulo-nike {
    font-size: 280px; }
  .calzado-portada img {
    width: 600px;
    height: 600px; }
  div.calzado-portada {
    top: 20%;
    left: 10%; } }

@media (min-width: 888px) {
  h1.titulo-nike {
    font-size: 370px; }
  .calzado-portada img {
    width: 600px;
    height: 600px; }
  div.calzado-portada {
    top: 10%;
    left: 20%; } }

@media (min-width: 1280px) {
  h1.titulo-nike {
    font-size: 400px; }
  .calzado-portada img {
    width: 700px;
    height: 700px; }
  div.calzado-portada {
    top: 10%;
    left: 25%; } }

/*  Colores primarios */
/*  Fuentes  */
/* Media Queries */
section.nosotros {
  text-align: center;
  height: 100vh;
  background: radial-gradient(circle, #423f41 0%, black 100%); }

section.nosotros h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0 auto;
  color: white;
  padding: 10px;
  height: 100vh; }

section.nosotros img#championes.championes,
img#corriendo.corriendo {
  width: 90px;
  height: 90px;
  margin-left: -400px;
  margin-top: 400px;
  position: absolute;
  filter: invert(19%) sepia(77%) saturate(2321%) hue-rotate(344deg) brightness(118%) contrast(104%); }

img#corriendo.corriendo {
  margin-top: 300px; }

section.nosotros img#pesas.pesas,
img#ejercicio.ejercicio {
  width: 90px;
  height: 90px;
  margin-left: 350px;
  margin-top: 400px;
  position: absolute;
  filter: invert(19%) sepia(77%) saturate(2321%) hue-rotate(344deg) brightness(118%) contrast(104%); }

img#ejercicio.ejercicio {
  margin-top: 300px; }

/*  Responsive */
@media (min-width: 320px) {
  section.nosotros h1 {
    font-size: 30px; }
  section.nosotros img#championes.championes,
  img#corriendo.corriendo {
    width: 60px;
    height: 60px;
    margin-left: -135px;
    margin-top: 280px; }
  img#corriendo.corriendo {
    margin-top: 550px; }
  section.nosotros img#pesas.pesas,
  img#ejercicio.ejercicio {
    width: 60px;
    height: 60px;
    margin-left: 80px;
    margin-top: 280px; }
  img#ejercicio.ejercicio {
    margin-top: 550px; } }

@media (min-width: 480px) {
  section.nosotros h1 {
    font-size: 35px; }
  section.nosotros img#championes.championes,
  img#corriendo.corriendo {
    width: 60px;
    height: 60px;
    margin-left: -200px;
    margin-top: 280px; }
  img#corriendo.corriendo {
    margin-top: 550px; }
  section.nosotros img#pesas.pesas,
  img#ejercicio.ejercicio {
    width: 60px;
    height: 60px;
    margin-left: 150px;
    margin-top: 280px; }
  img#ejercicio.ejercicio {
    margin-top: 550px; } }

@media (min-width: 650px) {
  section.nosotros img#championes.championes,
  img#corriendo.corriendo {
    width: 70px;
    height: 70px;
    margin-left: -200px;
    margin-top: 280px; }
  img#corriendo.corriendo {
    margin-top: 500px; }
  section.nosotros img#pesas.pesas,
  img#ejercicio.ejercicio {
    width: 70px;
    height: 70px;
    margin-left: 150px;
    margin-top: 280px; }
  img#ejercicio.ejercicio {
    margin-top: 500px; } }

@media (min-width: 768px) {
  section.nosotros img#championes.championes,
  img#corriendo.corriendo {
    width: 80px;
    height: 80px;
    margin-left: -300px;
    margin-top: 280px; }
  img#corriendo.corriendo {
    margin-top: 500px; }
  section.nosotros img#pesas.pesas,
  img#ejercicio.ejercicio {
    width: 80px;
    height: 80px;
    margin-left: 250px;
    margin-top: 280px; }
  img#ejercicio.ejercicio {
    margin-top: 500px; } }

@media (min-width: 1280px) {
  section.nosotros h1 {
    font-size: 50px; }
  section.nosotros img#championes.championes,
  img#corriendo.corriendo {
    width: 90px;
    height: 90px;
    margin-left: -400px;
    margin-top: 600px; }
  img#corriendo.corriendo {
    margin-top: 300px; }
  section.nosotros img#pesas.pesas,
  img#ejercicio.ejercicio {
    width: 90px;
    height: 90px;
    margin-left: 350px;
    margin-top: 600px; }
  img#ejercicio.ejercicio {
    margin-top: 300px; } }

/*  Colores primarios */
/*  Fuentes  */
/* Media Queries */
.banner #banner-nike {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.calzados {
  width: 100%;
  height: 100%;
  margin-top: 102vh; }

.calzados #filtrar {
  align-items: center;
  text-align: center;
  margin-right: 80%; }

.calzados #filtrar button {
  background-color: #2C2C2C;
  padding: 10px 20px; }

.calzados a.dropdown-item:active {
  background-color: #DD2020; }

/*  Responsive */
@media (min-width: 320px) {
  .calzados #filtrar {
    margin-right: 50%; } }

@media (min-width: 650px) {
  .calzados #filtrar {
    margin-right: 70%; } }

@media (min-width: 1280px) {
  .calzados #filtrar {
    margin-right: 70%; } }

@media (min-width: 1280px) {
  .calzados #filtrar {
    margin-right: 80%; } }
