* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Media Queries */
/*  Colores primarios */
/*  Fuentes  */
/* Media Queries */
header img {
  filter: invert(100%) sepia(13%) saturate(2141%) hue-rotate(299deg) brightness(103%) contrast(91%); }

header {
  height: 100vh; }

.btn-close {
  filter: invert(100%) sepia(13%) saturate(2141%) hue-rotate(299deg) brightness(103%) contrast(91%);
  margin-left: 90%;
  margin-top: 0% !important; }

div.container-fluid {
  margin-inline: 10%; }

main.contenedor {
  position: absolute; }

h1.titulo-nike {
  font-family: "Montserrat", sans-serif;
  font-size: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #C5BAAA;
  opacity: 90%; }

div.calzado-portada {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
  transform: rotate(-50deg); }

.calzado-portada img {
  width: 700px;
  height: 700px; }

/*  Responsive */
@media (min-width: 320px) {
  h1.titulo-nike {
    font-size: 120px; }
  .calzado-portada img {
    width: 280px;
    height: 280px; }
  div.calzado-portada {
    top: 30%;
    left: 10%; } }

@media (min-width: 480px) {
  h1.titulo-nike {
    font-size: 150px; }
  .calzado-portada img {
    width: 400px;
    height: 400px; }
  div.calzado-portada {
    top: 30%;
    left: 10%; } }

@media (min-width: 650px) {
  h1.titulo-nike {
    font-size: 220px; }
  .calzado-portada img {
    width: 500px;
    height: 500px; }
  div.calzado-portada {
    top: 20%;
    left: 10%; } }

@media (min-width: 768px) {
  h1.titulo-nike {
    font-size: 280px; }
  .calzado-portada img {
    width: 600px;
    height: 600px; }
  div.calzado-portada {
    top: 20%;
    left: 10%; } }

@media (min-width: 888px) {
  h1.titulo-nike {
    font-size: 370px; }
  .calzado-portada img {
    width: 600px;
    height: 600px; }
  div.calzado-portada {
    top: 10%;
    left: 20%; } }

@media (min-width: 1280px) {
  h1.titulo-nike {
    font-size: 400px; }
  .calzado-portada img {
    width: 700px;
    height: 700px; }
  div.calzado-portada {
    top: 10%;
    left: 25%; } }

/*  Colores primarios */
/*  Fuentes  */
/* Media Queries */
section.nosotros {
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  display: grid;
  text-align: center;
  height: 100vh;
  background: radial-gradient(circle, #423f41 0%, black 100%); }

section.nosotros h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-weight: 900;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0 auto; }

section.nosotros img {
  width: 60px;
  height: 60px;
  filter: invert(33%) sepia(93%) saturate(6829%) hue-rotate(354deg) brightness(92%) contrast(88%); }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  margin: 0 auto; }

.item {
  padding: 20px;
  text-align: center; }

.item:nth-child(1) {
  grid-area: 1 / 1 / span 1 / span 1; }

.item:nth-child(2) {
  grid-area: 1 / 2 / span 2 / span 1; }

.item:nth-child(3) {
  grid-area: 1 / 3 / span 1 / span 1; }

.item:nth-child(4) {
  grid-area: 2 / 1 / span 1 / span 1; }

.item:nth-child(5) {
  grid-area: 2 / 3 / span 1 / span 1; }

/*  Responsive */
/*  Colores primarios */
/*  Fuentes  */
/* Media Queries */
.banner #banner-nike {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.calzados {
  width: 100%;
  height: 100%;
  margin-top: 102vh; }

.calzados #filtrar {
  align-items: center;
  text-align: center;
  margin-right: 80%; }

.calzados #filtrar button {
  background-color: #2C2C2C;
  padding: 10px 20px; }

.calzados a.dropdown-item:active {
  background-color: #DD2020; }

.productos {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: 10%; }

.productos .card-body {
  margin: 20px;
  width: 250px;
  padding: 0; }

.productos .card {
  margin: 2%;
  margin-top: 5%;
  border: none; }

.productos .card img {
  width: 250px; }

/*  Responsive */
@media (min-width: 320px) {
  .calzados #filtrar {
    margin-right: 50%; } }

@media (min-width: 650px) {
  .calzados #filtrar {
    margin-right: 70%; } }

@media (min-width: 1280px) {
  .calzados #filtrar {
    margin-right: 70%; } }

@media (min-width: 1280px) {
  .calzados #filtrar {
    margin-right: 80%; } }
