@import '../variables/variables';
@import '../base/mixins';


.banner #banner-nike {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calzados {
    width: 100%;
    height: 100%;
    margin-top: 102vh;
}

.calzados #filtrar {
    align-items: center;
    text-align: center;
    margin-right: 80%;
}

.calzados #filtrar button {
    background-color: $titulo-black;
    padding: 10px 20px;
}

.calzados a.dropdown-item:active {
    background-color: $color-rojo;
}

// Productos

.productos{
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: 10%;
}

.productos .card-body {
    margin: 20px;
    width: 250px;
    padding: 0;
}

.productos .card {
   margin: 2%;
   margin-top: 5%;
   border: none;
}

.productos .card img {
    width: 250px;
 
}


/*  Responsive */

@include tel {
    .calzados #filtrar {
        margin-right: 50%;
    }
     
}

@include iPad {
    .calzados #filtrar {
        margin-right: 70%;
    }
}

@include desktop {
    .calzados #filtrar {
        margin-right: 70%;
    }
}

@include desktop {
    .calzados #filtrar {
        margin-right: 80%;
    }
}