@import '../variables/variables';
@import '../base/mixins';

main.container.seccion {
    margin-top: 150px;
}

main.container.seccion {
    height: 73vh;
} 

button.btn.btn-primary{
    @include boton();
}

h1 {
    text-align: center;
}

#crear {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
}


main.container.seccion a img {
    margin-top: 3%;
    margin-left: 10%;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    filter: invert(18%) sepia(78%) saturate(2686%) hue-rotate(345deg) brightness(112%) contrast(105%);
}

main.container.seccion a img:hover {
    opacity: 50%;
}

main.container.seccion a:focus {
   color: $titulo-black;
}

main.container.seccion.actualizar {
    text-align: center;
}

main.container.seccion.actualizar h1 {
    margin-bottom: 60px;
}

main.container.seccion.actualizar a.añadir {
    @include botonAñadir();
}

#crear input,
#crear textarea,
#crear input:focus,
#crear select:focus,
#crear select,
#crear input.form-control:focus,
#crear textarea:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    background-color: #25252511;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


// Section Actualizar

table.productos {
    margin-top: 90px;
    width: 80%;
    border-spacing: 0;
    display: inline-table;

    td, th {
        padding: 5px;
        text-align: center;
    }

    td:not(:last-child ){
        font-weight: bold;
    }

    img {
        width: 200px;
    }

    thead tr:nth-last-child(1){
        color: $color-rojo;  
        background-color: rgba(179, 180, 180, 0.11);
    }

    thead tr th{
        padding: 20px 20px ; 
    }

    td {
        padding: 30px 0 30px 0;
        font-size: 15px
    }

    input.boton-borrar[type=submit]{
       @include botonB();
    }

    a.boton-actualizar {
        @include botonA();
    }

}

.formulario-botones {
    display: inline;
}

// Responsive 

@include tel {
    main.container.seccion {
        height: 98vh;
    } 
}

@include telefono {
    main.container.seccion {
        height: 80vh;
    } 
}

@include tablet {
    main.container.seccion {
        height: 75vh;
    } 
}

@include desktop {
    main.container.seccion {
        height: 73vh;
    } 
}