@import '../variables/variables';
@import '../base/mixins';

section.nosotros {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    display: grid;
    text-align: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(66,63,65,1) 0%, rgba(0,0,0,1) 100%);
}

section.nosotros  h1{
    color: white;
    font-family: $titulos;
    font-weight: 600;
    font-weight: 900;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0 auto;
}

section.nosotros img {
    width: 60px;
    height: 60px;
    filter: invert(33%) sepia(93%) saturate(6829%) hue-rotate(354deg) brightness(92%) contrast(88%);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin: 0 auto;
  }
  
  .item {
    padding: 20px;
    text-align: center;
  }
  
  .item:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  
  .item:nth-child(2) {
    grid-area: 1 / 2 / span 2 / span 1;
  }
  
  .item:nth-child(3) {
    grid-area: 1 / 3 / span 1 / span 1;
  }
  
  .item:nth-child(4) {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  
  .item:nth-child(5) {
    grid-area: 2 / 3 / span 1 / span 1;
  }
  
  /*  Responsive */
   