@import '../variables/variables';
@import '../base/mixins';

section.nosotros {
    text-align: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(66,63,65,1) 0%, rgba(0,0,0,1) 100%);
}

section.nosotros h1 {
    font-size: 50px;
    font-family: $titulos;
    font-weight: 900;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0 auto;
    color: white;
    padding: 10px;
    height: 100vh;
}

section.nosotros img#championes.championes,
img#corriendo.corriendo {
    width: 90px;
    height: 90px;
    margin-left: -400px;
    margin-top: 400px;
    position: absolute;
    filter: invert(19%) sepia(77%) saturate(2321%) hue-rotate(344deg) brightness(118%) contrast(104%);
}

img#corriendo.corriendo {
    margin-top: 300px;
}

section.nosotros img#pesas.pesas,
img#ejercicio.ejercicio {
    width: 90px;
    height: 90px;
    margin-left: 350px;
    margin-top: 400px;
    position: absolute;
    filter: invert(19%) sepia(77%) saturate(2321%) hue-rotate(344deg) brightness(118%) contrast(104%);
}

img#ejercicio.ejercicio {
    margin-top: 300px;
}





/*  Responsive */

@include tel {
    section.nosotros h1 {
        font-size: 30px;
    }

    section.nosotros img#championes.championes,
    img#corriendo.corriendo {
        width: 60px;
        height: 60px;
        margin-left: -135px;
        margin-top: 280px;
    }

    img#corriendo.corriendo {
        margin-top: 550px;
    }

    section.nosotros img#pesas.pesas,
    img#ejercicio.ejercicio {
        width: 60px;
        height: 60px;
        margin-left: 80px;
        margin-top: 280px;
    }

    img#ejercicio.ejercicio {
        margin-top: 550px;
    }
}

@include telefono {

    section.nosotros h1 {
        font-size: 35px;
    }

    section.nosotros img#championes.championes,
    img#corriendo.corriendo {
        width: 60px;
        height: 60px;
        margin-left: -200px;
        margin-top: 280px;
    }

    img#corriendo.corriendo {
        margin-top: 550px;
    }

    section.nosotros img#pesas.pesas,
    img#ejercicio.ejercicio {
        width: 60px;
        height: 60px;
        margin-left: 150px;
        margin-top: 280px;
    }

    img#ejercicio.ejercicio {
        margin-top: 550px;
    }
    
}

@include iPad {

    section.nosotros img#championes.championes,
    img#corriendo.corriendo {
        width: 70px;
        height: 70px;
        margin-left: -200px;
        margin-top: 280px;
    }

    img#corriendo.corriendo {
        margin-top: 500px;
    }

    section.nosotros img#pesas.pesas,
    img#ejercicio.ejercicio {
        width: 70px;
        height: 70px;
        margin-left: 150px;
        margin-top: 280px;
    }

    img#ejercicio.ejercicio {
        margin-top: 500px;
    }

}

@include tablet {

    section.nosotros img#championes.championes,
    img#corriendo.corriendo {
        width: 80px;
        height: 80px;
        margin-left: -300px;
        margin-top: 280px;
    }

    img#corriendo.corriendo {
        margin-top: 500px;
    }

    section.nosotros img#pesas.pesas,
    img#ejercicio.ejercicio {
        width: 80px;
        height: 80px;
        margin-left: 250px;
        margin-top: 280px;
    }

    img#ejercicio.ejercicio {
        margin-top: 500px;
    }

}

@include desktop1 {

}


@include desktop {

    section.nosotros h1 {
        font-size: 50px;
    }

    section.nosotros img#championes.championes,
    img#corriendo.corriendo {
        width: 90px;
        height: 90px;
        margin-left: -400px;
        margin-top: 600px;
    }

    img#corriendo.corriendo {
        margin-top: 300px;
    }

    section.nosotros img#pesas.pesas,
    img#ejercicio.ejercicio {
        width: 90px;
        height: 90px;
        margin-left: 350px;
        margin-top: 600px;
    }

    img#ejercicio.ejercicio {
        margin-top: 300px;
    }
}