/*  Colores primarios */

$titulo-black:#2C2C2C;
$color-naranja: #FA5F1A;
$color-beige: #C5BAAA;
$color-marron: #806D61;
$color-rojo: #DD2020;
$color-blanco:#FAF2EC;
$color-verde: #A8CA7E;


/*  Fuentes  */
$titulos: 'Montserrat', sans-serif;
